In [2]:
import pandas as pd
import numpy as np

In [3]:
# creating pandas Series
first_series = pd.Series(list('abcdef'))
first_series

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [4]:
list('abhishek')

['a', 'b', 'h', 'i', 's', 'h', 'e', 'k']

In [6]:
# creating pandas series using ndarry
np_countries = np.array(['India','Pakistan','Nepal','Bhutan','Bangladesh','Philippines','Australia'])
s_countries = pd.Series(np_countries)
s_countries

0          India
1       Pakistan
2          Nepal
3         Bhutan
4     Bangladesh
5    Philippines
6      Australia
dtype: object

In [7]:
# creating pandas series using dictionary
dict_country_gdp = pd.Series([34534,5657567,45345,34545,234,45435], index =['India','Australia','Canada','Pakistan','Bhutan','Bankgladesh'])
dict_country_gdp

India            34534
Australia      5657567
Canada           45345
Pakistan         34545
Bhutan             234
Bankgladesh      45435
dtype: int64

In [8]:
# creating pandas series using scalar value
scalar_series = pd.Series(5., index = ['a', 'b', 'c', 'd','e'])
scalar_series

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [9]:
dict_country_gdp['India']

34534

In [10]:
dict_country_gdp[2:4]

Canada      45345
Pakistan    34545
dtype: int64

In [12]:
dict_country_gdp.iloc[0]

34534

In [15]:
dict_country_gdp.loc['Bhutan']

234